@model IQueryable<Cart>
<body>
  <style>
      table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

th {
    background-color: black;
    color: white;
}

button {
    padding: 5px 10px;
}

  </style>
<div>
        <table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Размер</th>
            <th>Цена</th>
            <th>Цвет</th>
            <th>Страна</th>
            <th>Время</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Size</td>
                <td>@item.Price</td>
                <td>@item.Color</td>
                <td>@item.Country</td>
                <td>@item.DateAdd</td>
               <form method="post" asp-controller="Cart" asp-action="RemObject">
                   <td>
                      <input type="hidden" name="id" value="@item.Id" />
                      <button type="submit">Удалить</button>
                   </td>
               </form>
               <form method="post" asp-controller="Cart" asp-action="OrderingProcces">
                   <td>
                      <input type="hidden" name="id" value="@item.Id" />
                      <button type="submit">Заказать</button>
                   </td>
               </form>
            </tr>
        }
    </tbody>
</table>
</div>
    </body>

